<div style="display: flex; gap: 16px;">
  <mat-card style="flex: 1;">
    <mat-card-header>
      <mat-card-title>
        <mat-icon color="primary">functions</mat-icon> Promedio
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p style="font-size: 1.5em; font-weight: bold;);">
        {{ promedio }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card style="flex: 1;">
    <mat-card-header>
      <mat-card-title>
        <mat-icon color="accent">scatter_plot</mat-icon> Desviación Estándar
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p style="font-size: 1.5em; font-weight: bold;);">
        {{ desviacionEstandar }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
