<div class="mat-elevation-z8" style="padding: 16px;">
  <table [dataSource]="dataSource" mat-table>

    <!-- Id Columna -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Id</th>
      <td *matCellDef="let element" mat-cell> {{ element.id }}</td>
    </ng-container>

    <!-- Nombre Columna -->
    <ng-container matColumnDef="nombre">
      <th *matHeaderCellDef mat-header-cell> Nombre</th>
      <td *matCellDef="let element" mat-cell> {{ element.nombre }}</td>
    </ng-container>

    <!-- Apellido Columna    -->
    <ng-container matColumnDef="apellido">
      <th *matHeaderCellDef mat-header-cell> Apellido</th>
      <td *matCellDef="let element" mat-cell> {{ element.apellido }}</td>
    </ng-container>

    <!-- Edad Columna -->
    <ng-container matColumnDef="edad">
      <th *matHeaderCellDef mat-header-cell> Edad</th>
      <td *matCellDef="let element" mat-cell> {{ element.edad }}</td>
    </ng-container>

    <!-- Fecha de Nacimiento Columna    -->
    <ng-container matColumnDef="fechaDeNacimiento">
      <th *matHeaderCellDef mat-header-cell> Fecha de nacimiento</th>
      <td *matCellDef="let element" mat-cell> {{ element.fechaDeNacimiento }}</td>
    </ng-container>

    <!-- Fecha estimada de muerte columna -->
    <ng-container matColumnDef="fechaEstimadaDeMuerte">
      <th *matHeaderCellDef mat-header-cell> Fecha estimada de muerte</th>
      <td *matCellDef="let element" mat-cell> {{ element.fechaEstimadaDeMuerte }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [length]="totalItems"
                 [pageSizeOptions]="[5, 10, 25]"
                 [pageSize]="pageSize">
  </mat-paginator>
</div>
